<html>
<head>
	<title></title>
</head>
<body class="vsc-initialized" data-gr-ext-installed="" data-new-gr-c-s-check-loaded="14.980.0" data-new-gr-c-s-loaded="14.980.0" style="margin:5em; padding:5em">
<h2 style="text-align: center;"><span style="font-family:courier new,courier,monospace;">Send Thai news to our simple line chatbot and we&#39;ll try to tell you whether it&#39;s fake, real, distorted, or unconfirmed.</span></h2>

<p style="text-align: center;"><span style="font-family:courier new,courier,monospace;"><img alt="" src="https://qr-official.line.me/sid/L/946xtmqq.png" style="width: 360px; height: 360px;" /></span></p>

<p style="text-align: center;"><span style="font-size:26px;"><span style="font-family:courier new,courier,monospace;">Line ID: @946xtmqq</span></span></p>
</body>
</html>